body {
	display: flex;
	flex-direction: column;
	> * {
		flex-grow: 1;
	}
}

#terminal {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
}

.mdl-layout__header-row {
	.mdl-button > .material-icons {
		color: white
	}
	.square {
		width: 8em;
		text-align: center;
	}
	.space {
		width: 2em;
	}
}

.material-icons {
	width: 1em;
}

#namesHolder {
	overflow: hidden;
	> .processLink {
		position: relative;
		
		white-space: nowrap;
		padding: 15px 10px 15px 28+15px;
		
		> .mdl-spinner, > .icon {
			position: absolute;
			left: 10px;
			top: 15px;
		}
		> * {
			vertical-align: middle;
		}
		&.error {
			color: red;
		}
		&.terminated {
			color: red;
		}
		&.activate {
			font-weight: bold;
		}
	}
}