body {
	display: flex;
	flex-direction: column;
	> * {
		flex-grow: 1;
	}
}

#terminal {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
}

.mdl-layout__header-row {
	.mdl-button > .material-icons {
		color: white
	}
	.square {
		width: 8em;
		text-align: center;
	}
	.space {
		width: 2em;
	}
}

.material-icons {
	width: 1em;
}

#namesHolder {
	overflow: hidden;
	> .processLink {
		white-space: nowrap;
		&.terminated {
			color: red;
		}
	}
}